@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
#top::before{height: 18px;width: 18px}#top,#top:hover{margin-right: 10px;font-size: 20px;color: white;float: right;line-height: 35px;}html{max-width:1500px;scroll-behavior:smooth;}body{background-image:linear-gradient(#c9d1cc,#fff)}.mk-svg-icon{fill:white;}.top-email a{text-decoration: none;color: white;font-family: 'Open Sans', sans-serif;margin-left: 10px;}.contact_bar_beta span{color: white;font-family: 'Open Sans', sans-serif;height: 16px; width: 16px;font-size: 13px!important;}.contact_bar{width:101%;position: relative;background-color: #856c42;height: 35px;line-height: 35px;}.contact_bar_beta{line-height: 35px;padding: 0px 20px;font-family: Open Sans;}.topnav{transition:0.3s;display: flex;justify-content: center;align-items: center;padding: 4% 0%;width:101%;overflow:hidden;background-color:#19233e;position:sticky;z-index:2;transition:top .5s;height:140px}.topnav a{display:flex;justify-content: center;align-items: center;float:left;color:#fff;text-align:center;text-decoration:none;font-size:14px;text-transform: uppercase;margin-bottom:0;height:45px;width:135px;transition:.3s;font-family: 'Oswald', sans-serif!important}.navbar-header{margin-left:0px;display:block;position:absolute;left: 10px;height: 100%;width:240px;background-size:contain;}#logo:hover{background-color:#19233e}#logo{position: absolute;padding-top:0px;width:240px;height:100%;}.img-responsive{height:auto;width:auto;max-height:110px;max-width:250px;top:0}.socials:hover{background:#19233e;color:#fff}.topnav-right{font-family:'Oswald', sans-serif!important;position:absolute;right: 10px;float:right;}#social-m-img{margin-left:auto;margin-right:auto}#rb img,#rusa img{margin:auto}#rbi,#rusai{margin:0;height:14px;width:23px;}.headers{height:200%}.facts{display:flex;flex-direction:row;transform:translate(0,0);margin-top:5%}.facts div{width:33%;text-align:center}.facts p{font-size: 1.8vw;width:60%;text-align:center;margin-left:auto;margin-right:auto}.text-block h2{text-align:center;width:100%;font-family:Helvetica,Arial,sans-serif}.header{color:white;width:101%;height:750px;text-align:center;background-repeat:no-repeat;background-size:contain;background-color:#ccc;background-position:center;background-size:cover;position:relative;display:flex;align-items:center;justify-content:center;flex-direction:column}.hero-text{position:absolute;text-align:center;margin:auto;color:#fff;width:100%;height:25%}.hero-text h1{position:absolute;margin:auto;width:100%;text-align:center;font-family:Helvetica,Arial,sans-serif}h1{font-size:4vw}h2{font-size:5vw}.text-block{position:absolute;right:0;background:#000;background:rgba(0,0,0,.7);color:#f1f1f1;width:100%;height:100%;padding:20px;text-align:left;font-size:2vw}.footer{width:101%;padding:20px;height:40%;background-color:#19233e;color:#ffffff;display:flex;color:white;font-family:'Open Sans',sans-serif;}.links{position:relative;left:15%;color:white;width:30%}.column p{width:100%;height:20px;}.column  a,.column a:hover{text-decoration:none;color:white;height:15%;width:100%;display:flex;justify-content:center;margin-top:13px;}.address{text-align:left;margin-left:2%;width:50%}.address a{color:#fff;font-size:1vw}.mmedia{postion:fixed;right:0;width:200px;height:300px;display:flex;align-items:center;flex-direction:column;}.mmedia a{height:38px;width:35px;margin-top:14px;}#sociali::before{font-size:40px;display:block;width:35px;height:38px;color:#fff;}#socialf,#sociali{background-color:#19233e}.break{flex-basis:100%;height:0}.copyright{font-family:'Open Sans',sans-serif;background-color:#856c42;height:51px;width:101%}.copyright p{padding:10px;color:#c9cdd6;margin-bottom:0;width:35%;text-align:left;}.jumbotron{color:#272829;border-radius:0}#title{text-align:center;width:101%;height:40%;background-image:linear-gradient(#19233e,#13ab40);margin-bottom:0}#title h1{font-family:Spectral,serif;font-size:8vw;font-style:italic;color:#fff}.double{background-image:linear-gradient(to bottom,#f29b0f 33%,transparent 33%,transparent 66%,#f29b0f 66%,#f29b0f);background-position:0 1.03em;background-repeat:repeat-x;background-size:20px 6px}
.topnav-right .icon {
  display: none;
}
.fa-bars{font-size: 24px;}
@media screen and (max-width:700px){
  .foot_c{width: 100%;}.links{left: 0%;}.fff{position: inherit!important;}.mmedia{height: 120px;}.links{height:250px;}
  .top-email a{font-size: 16px}
  .anc p{width:25%;}
  #logo{
    display: none;
  }
  .topnav{
    width: 100%;
    height:60px;
  }
  .topnav-right{width:100%;right: 0;}
  .topnav-right a{display: none;}
  .topnav-right a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive{height: 100%;}
  .topnav-right.responsive {position: relative;}
  .topnav-right.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }
  .topnav-right.responsive a {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 103%;
  }



  .topnav a{width:100%;padding-top:15px;padding-bottom:15px;height:10%;margin-right:0;margin-left:0}.topnav-right{float:none;margin-right:0}#rb img,#rusa img{margin-left:auto;margin-right:auto}.footer p{font-size:4.5vw!important}.footer h3{font-size:4.5vw!important}.footer{height:45%;flex-direction:column;}.copyright{text-align:center}.copyright p{margin-left:auto;margin-right:auto;width:100%;text-align:center;font-size:3.5vw}.navbar-header{width:100%}.img-responsive{margin-left:auto;margin-right:auto}.address a{font-size:2.5vw}}








.tradition p{padding-top:20px;line-height: 1.66em;font-family: 'Open Sans', sans-serif;}
::selection{
  background-color: #856c42;
}
.arrow {
  position: relative;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.7px;
  bottom: 3px!important;
  margin-right: 10px;
  height: 2.69px;
  width: 2.7px;
}
.arrow:hover{
  border-color: #856c42;

}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.column{position: relative;width: 180px;}.columns{display: flex;flex-direction: row;}.column a:hover{color:#856c42}
.chead{letter-spacing: 1px;font-size: 17px;text-transform: uppercase;}.foot_c{padding: 30px;}.fff{position:absolute; }.active,.anc p:hover{border-bottom:3px solid #856c42;}.anc p{height:28px;}
