<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <script src="{%static "boots/jquery.js"%}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "boots/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{%static "base.css"%}">

    {%block head_block%}
    <title></title>
    {%endblock%}
  </head>

  <body>
    <div class="contact_bar">
      <div class="contact_bar_beta">
        <span class="top-email">
          <svg class="mk-svg-icon" data-name="mk-moon-envelop" data-cacheid="icon-5ea8009f14daf" style=" height:18px; width: 18px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M480 64h-448c-17.6 0-32 14.4-32 32v320c0 17.6 14.4 32 32 32h448c17.6 0 32-14.4 32-32v-320c0-17.6-14.4-32-32-32zm-32 64v23l-192 113.143-192-113.143v-23h384zm-384 256v-177.286l192 113.143 192-113.143v177.286h-384z"></path></svg>
          <a href="mailto:route.india.team@gmail.com">route.india.team@gmail.com </a>
        </span>
        <a href="https://www.instagram.com/routeindia_/" id="top"class="fa fa-instagram"></a>

      </div>
    </div>
    <div class="topnav" id="navbar">
      <div class="navbar-header">
      <a href="#" id="logo"><img src="{%static 'rlogo.webp'%}" alt=""class = "img-responsive" ></a>
      </div>
     <div class="topnav-right"id="myTopnav">
       <a  class="anc" id="home"href="{% url 'home' %}"><p class="{{home_active}}">Home</p></a>
       <a  class="anc" id="team"href="{% url 'aboutus' %}"><p class="{{team_active}}">The Team</p></a>
       <a  class="anc" id="drives"href="{% url 'drives' %}"><p class="{{drives_active}}">Our Drives</p></a>
       <a  class="anc" id="cu"href="{% url 'contactus' %}"><p class="{{contact_active}}">Contact Us</p></a>
       <a  class="anc" id="rb sc" href="https://routebrasil.org/"target="_blank"><p><img src="{%static "br.webp"%}" alt="" id="rbi"></p></a>
       <a  class="anc" id="rusa sc" href="https://routeusa.org/"target="_blank"><p><img src="{%static "us.webp"%}" alt=""id="rusai"></p></a>
       <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
     </div>

    </div>
    {%block body_block%}
    {%endblock%}
    <!-- Footer -->
    <div class="footer">
      <div class="tradition foot_c"style="text-align:left;">
        <img src="{%static "rlogo.webp"%}" alt="" class = "img-responsive footerlogo" >
        <p>The Route is a lifestyle.<br>
          Action. Integrity. Determination.<br>
          Changing the world is a consequence.<br>
          Be a ROUTE!

        </p>
      </div>
      <div class="links foot_c">
        <h4 class="chead">MENU</h4>
        <div class="columns">


          <div class="column">
            <a   href="{% url 'home' %}"><p><i class="arrow right"></i>Home</p></a>
            <a   href="{% url 'aboutus' %}"><p><i class="arrow right"></i>The Team</p></a>
            <a   href="{% url 'drives' %}"><p><i class="arrow right"></i>Our Drives</p></a>
            <a   href="{% url 'contactus' %}"><p><i class="arrow right"></i>Contact Us</p></a>
          </div>
          <div class="column flags">

            <a  href="https://routebrasil.org/"target="_blank"><p><i class="arrow right"></i><img src="{%static "br.webp"%}" alt="" id="rbi"></p></a>
            <a  href="https://routeusa.org/"target="_blank"><p><i class="arrow right"></i><img src="{%static "us.webp"%}" alt=""id="rusai"></p></a>

          </div>
        </div>
      </div>
      <div class="mmedia foot_c fff">
        <h3 class="chead">Follow Us</h3>
        <a href="https://www.instagram.com/routeindia_/" class="fa fa-instagram" id="sociali"target="_blank"></a>
      </div>
    </div>
    <div class="copyright">
      <p >© Route India 2020</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="{% static "boots/js/bootstrap.min.js"%}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      var y = document.getElementById("navbar");
      console.log(y);
      if (x.className === "topnav-right") {
        x.className += " responsive";
        y.className += " responsive";
      } else {
        x.className = "topnav-right";
        y.className = "topnav";
      }
    }
    </script>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="/__/firebase/7.14.2/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
       https://firebase.google.com/docs/web/setup#available-libraries -->

  <!-- Initialize Firebase -->
  <script src="/__/firebase/init.js"></script>
    {%block script_block%}
    {%endblock%}
  </body>
</html>
